<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDfxf4oHHaHUZhusStaLMkqIvnxBSWA4ts</string>
	<key>GCM_SENDER_ID</key>
	<string>533988597570</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.controlAsistenciaApp</string>
	<key>PROJECT_ID</key>
	<string>control-asistencia-app</string>
	<key>STORAGE_BUCKET</key>
	<string>control-asistencia-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:533988597570:ios:7a22773b737284afea72db</string>
</dict>
</plist>